* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main  ";
}

.header {
    grid-area: header;
    position: relative;
    z-index: 10;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 1px 8px rgb(170, 170, 170);
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    gap: 70px;
    align-content: start;
    position: relative;
    z-index: 20;
    padding: 30px;
    background-color: rgb(25, 146, 212);
    box-shadow: 1px 0 3px rgb(170, 170, 170);
}

.sidebar__section {
    display: grid;
    gap: 20px;
}

.sidebar__item {
    font-size: 1.2rem;
}

.sidebar__item a {
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.sidebar__item a:hover {
    color: rgb(210, 210, 210);
}

.sidebar__item i {
    justify-self: center;
}

.sidebar__item.title {
    font-size: 2rem;
}

.sidebar__item.title a {
    grid-template-columns: 50px 1fr;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "projects announcements"
        "projects trending";
    gap: 20px;
    align-items: start;
    align-content: start;
    padding: 20px;
    background-color: rgb(226, 232, 240);
}

.main__section {
    display: grid;
    gap: 20px;
}

.main__section.projects {
    grid-area: projects;
}

.main__section.announcements {
    grid-area: announcements;
}

.main__section.trending {
    grid-area: trending;
}

.main__section-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.card {
    padding: 30px 25px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgb(170, 170, 170);
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-content: start;
    gap: 25px;
}

.project {
    position: relative;
    padding: 30px 25px 30px 35px;
}

.project > .decoration {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(240, 180, 41);
}

.project__name {
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}

.project__description {
    margin-bottom: 40px;
    color: rgb(85, 85, 85);
}

.project__options {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    gap: 25px;
}

.project__option {
    font-size: 1.3rem;
    color: rgb(34, 34, 34);
}

.announcements-panel > .separator {
    height: 2px;
    margin: 20px 0;
    background-color: rgb(204, 204, 204);
}

.announcement__title {
    font-weight: 500;
}

.announcement__description {
    color: rgb(85, 85, 85);
}